* {
  box-sizing: border-box;
}

html, body {
  height: 100vh;
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}

img {
  max-width: 17rem;
  max-height: 17rem;
}

footer {
  grid-row-start: 4;
  grid-row-end: 5;
}

